.input {
    @apply w-full px-4 py-2 text-gray-800 bg-white border border-gray-300 rounded-lg transition-all duration-200 placeholder:text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
}

.disabled {
    @apply bg-gray-100 text-gray-500 cursor-not-allowed;
}