.container {
    @apply flex gap-3 w-full;
}

.inputWrapper {
    @apply flex-1 relative;
}

.iconWrapper {
    @apply absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none;
}

.searchIcon {
    @apply w-5 h-5 text-gray-400;
}

.input {
    @apply pl-10 pr-10;
}

.clearButton {
    @apply absolute right-3 top-1/2 -translate-y-1/2 p-1 rounded-full hover:bg-gray-100 transition-colors duration-200 cursor-pointer;
}

.clearIcon {
    @apply w-4 h-4 text-gray-400 hover:text-gray-600;
}